.signup {
    padding: 50px 0;
    text-align: center;
  }
  
  .signup h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .signup form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .signup input[type="text"],
  .signup input[type="password"],
  .signup input[type="email"] {  /* Add email input */
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup label {  /* Add labels for better accessibility */
    display: block;
    margin-bottom: 5px;
  }
  
  .signup button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .signup button:hover {
    background-color: #555;
  }
  