/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 0px 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.logo {
    font-size: 20px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


/* Sign-in section styles */
#signin {
    background-color: #f4f4f4;
    padding: 50px 0;
}

#signin .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#signin h2 {
    margin-bottom: 20px;
}

#signinForm {
    width: 300px;
}

#signinForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#signinForm button {
    width: 100%;
    padding: 10px;
    background-color: #757070;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#signinForm button:hover {
    background-color: #555;
}


/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 16%;
}

.socials {
    margin-bottom: 20px;
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    text-decoration: none
}

/* webpages */